/* SIDENAV */

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

nav a:hover {
    color: #f1f1f1;
}

nav .menu a,
nav a {
    padding: 8;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    letter-spacing: 2;
}

nav .menu a:hover {
    letter-spacing: 4;
    color: #f1f1f1;
}

nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

nav .menu {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

nav .menu .logo {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

nav .menu .logo:hover {
    transform: scale(1.1);
}

nav .social {
    color: #fff !important;
    letter-spacing: 2;
    font-weight: 700;
}

nav .social section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

nav .social section i {
    cursor: pointer;
    padding: 8;
    margin: 0 5;
    transition: all 0.3s ease 0s;
}

nav .social section i:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

@media screen and (max-height: 450px) {
    nav {
        padding-top: 15px;
    }
    nav a {
        font-size: 18px;
    }
}